.game-page {
  position: relative;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
}

.mystical-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.game-page__title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.deck-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.deck-container.single-card {
  justify-content: center;
}

.deck-container.dual-cards {
  justify-content: center;
}

.card-wrapper {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-wrapper.card-wrapper--flipped .card-content {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.card-front {
  background-color: #f0f0f0;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-choices {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.choice {
  width: 45%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.create-card-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.create-card-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.loading,
.error-message {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .deck-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
  }
  .card-wrapper {
    width: 50%;
    height: 330px;
  }

  .game-page__title {
    font-size: 2rem;
  }
  .card-back {
    height: 100%;
  }
}
