.header {
  background-color: var(--primary-color);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  width: 40%;
}

.nav__linkLogo {
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Correspond à text-2xl */
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(
    to right,
    var(--indigo-600),
    var(--purple-600)
  ); /* Gradient text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Pour assurer la compatibilité */
}

.nav__linkLogo::before {
  content: ""; /* Utilisé pour simuler l'icône */
  display: inline-block;
  width: 2rem; /* Correspond à h-8 */
  height: 2rem; /* Correspond à w-8 */
  background-color: var(--indigo-600);
  mask: url("/path-to-wand2-icon.svg") no-repeat center;
  -webkit-mask: url("/path-to-wand2-icon.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  margin-right: 0.5rem; /* Correspond à ml-2 */
}
